<div id="pointers">
	<h1>Getting help</h1>
There's a ton to know about fertility charting. If you're brand new to the concept or if you just need some help, check out the resources below or go hang out in the forums. You can ask questions, help other women, and learn more about interpreting your cycles. And you can always contact us.<br /><br />

	<h1>Ending your cycle</h1>
When you come to the end of each fertility cycle, click the red "end this cycle" link on the left. This will move your cycle into your history and begin a new cycle for you.<br /><br />

<div id="amazon_referrals">
	<div style="padding-top: 50px;">
		<table width="100%">
			<tr>
			<td align="center">
		<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab" id="Player_2a72eed3-8906-44ec-b2bb-b9dd1823ab8e"  WIDTH="600px" HEIGHT="200px"> <PARAM NAME="movie" VALUE="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fchar03-20%2F8010%2F2a72eed3-8906-44ec-b2bb-b9dd1823ab8e&Operation=GetDisplayTemplate"><PARAM NAME="quality" VALUE="high"><PARAM NAME="bgcolor" VALUE="#FFFFFF"><PARAM NAME="allowscriptaccess" VALUE="always"><embed src="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fchar03-20%2F8010%2F2a72eed3-8906-44ec-b2bb-b9dd1823ab8e&Operation=GetDisplayTemplate" id="Player_2a72eed3-8906-44ec-b2bb-b9dd1823ab8e" quality="high" bgcolor="#ffffff" name="Player_2a72eed3-8906-44ec-b2bb-b9dd1823ab8e" allowscriptaccess="always"  type="application/x-shockwave-flash" align="middle" height="200px" width="600px"></embed></OBJECT> <NOSCRIPT><A HREF="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fchar03-20%2F8010%2F2a72eed3-8906-44ec-b2bb-b9dd1823ab8e&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
			</td>
			</tr>
			</table>
			</div>
</div>
</div>