<div id="pointers">
	<h1>You did it!</h1>
You just recorded your first entry. Easy as pie.<br /><br />
See the graph at the top of the screen? That graph shows your waking temperatures each cycle. Mouse over the first blue dot to see the details for the entry you just placed.<br /><br />

<h1>Your vertical calendar</h1>
If you've ever charted before, you'll likely agree with us: interpreting your charts can really suck. That's why we've built something completely new. A vertical calendar.<br /><br />
Take a look at that thin strip right below this text box. That's your vertical calendar. A new strip will appear with each new entry you make. As you progress through your cycle you can use this calendar to quickly gain visibility into what you're body is doing. <br /><br />
Click on the "More" button right under your temperature. Here you can read your own comments, you can edit your entry, or delete your entry if you need to.<br /><br />
Go ahead and poke around. Take a few minutes to get familiar and we'll check in with you again after you make your second entry.
</div>
<br /><br />
<h1>Customizing your cycle</h1>
You can click on "Customize this cycle" and change the custom symptom fields to whatever you like. Choose something in your life that you'd like to track and see how it relates to your fertility patterns. Get creative- try tracking drugs, supplements, exercise, sleep patterns, vacation, fatigue, diet, or days when you cry easily. You might be surprised to find patterns at certain times of your cycle.
<br />
<br />