<div id="pointers">
	<h1>Fertility stats</h1>
You're four entries into your cycle. Great job. Click on the "Stats" link in the top menu. It's going to look pretty barren now, but just wait until you're into your second and third cycles. We'll tell you cool things about your body like how long your periods usually last, when and how long you're usually fertile, and what your symptoms look like from cycle to cycle.
<br />
<br />
	<h1>Today's tip</h1>
<b>Fertility charting tip:</b> Little activities like taking a sip of water, going to the bathroom, or laying awake cuddling your partner in the morning before you take your temp can throw off your the value of your waking temperature. Try to make a habit of sticking that thermometer in your mouth the minute your eyes open. If you do have a temp that you suspect was messed up by sleeping in or having morning sex, simply click the check box "This temp might be inaccurate" when you add your entry.


</div>
