<div id="pointers">
	<h1>Fertility stats</h1>
You're four entries into your cycle. Great job. Click on the "Stats" link in the top menu. It's going to look pretty barren for now, but just wait until you're into your second and third cycles. We'll tell you cool things about your body like how long your periods usually last, when and how long you're usually fertile, and what your symptoms look like from cycle to cycle.<br /><br />

</div>
