<div id="pointers">
	<h1>Welcome to ChartMyCycles!</h1>
We're honored that you chose our charting software and we're excited to see you nurture your body.<br /><br />

<h1>Adding a new entry</h1>
See that shiny green button on the left? When you wake up you'll need to take your temperature. We find using a basal thermometer works best. Once you've got your waking temperature, click that button and record your temp. Check any of the other boxes that apply to your body that day and you're done! Just rinse and repeat.<br /><br />
<h1>Settling in</h1>
While you wait to make your first entry (tomorrow morning!), take a few minutes to customize your profile. Upload your own profile picture, set your status, and edit your profile settings on the left.
<br /><br />
Or, If you want to start your cycle on a day different from today's date, simply click "Customize this cycle" on the left and change the cycle start date. 
<div id="fifteenpxspacer">
	</div>
	<% if @user.period_rule_one.nil?%>
	<div id="hidden_intro" style="background: #0d6fc9; color: #ffffff; padding: 20px; margin: 5px 0px 10px 0px; -moz-border-radius: 15px;">
	<% form_for :user, @user, :url => { :action => "period_rule_one" } do |f| %>
		<%= f.radio_button :period_rule_one, '1'%> All of my cycles have been 26 days or longer during the last 12 months.<br /><br />
		<%= f.radio_button :period_rule_one, '2' %> Some of my cycles were shorter than 26 days during the last 12 months.<br /><br />
		<%= f. radio_button :period_rule_one, '0' %> I’m not completely sure about the length of my cycles over the past 12 months.<br /><br />
    <%= submit_tag 'Submit' %><br />
  <% end %>
  </div >
 <% end %>
</div>



