<div id="pointers">
	<h1>Welcome to ChartMyCycles!</h1>
We're honored that you chose our charting software and we're excited to see you nurture your body.<br /><br />

<h1>Adding a new entry</h1>
See that shiny green button on the left? When you wake up you'll need to take your temperature. We find using a <a href="http://www.amazon.com/gp/product/B001AM43VY?ie=UTF8&tag=char03-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B001AM43VY">basal thermometer</a><img src="http://www.assoc-amazon.com/e/ir?t=char03-20&l=as2&o=1&a=B001AM43VY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> works best. Once you've got your waking temperature, click that button and record your temp. Check any of the other boxes that apply to your body that day and you're done! Just rinse and repeat.<br /><br />
<h1>Settling in</h1>
While you wait to make your first entry (tomorrow morning!), take a few minutes to customize your profile. Upload your own profile picture, add a motto, and edit your profile settings on the left.
<div id="fifteenpxspacer">
	</div>
<table width="100%">
	<tr>
		<td align="center">
<object width="400" height="300"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=2196645&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=2196645&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed></object><br /><a href="http://vimeo.com/2196645">Welcome to ChartMyCycles</a> from <a href="http://vimeo.com/user918092">josh sullivan</a> on <a href="http://vimeo.com">Vimeo</a>.
</td>
</tr>
</table>
</div>
<script type="text/javascript" src="http://www.assoc-amazon.com/s/link-enhancer?tag=char03-20&o=1">
</script>
<noscript>
    <img src="http://www.assoc-amazon.com/s/noscript?tag=char03-20" alt="" />
</noscript>



