<div id="pointers">
	<h1>You're starting a new cycle!</h1>
	We've moved your last cycle into your history. You can always access past cycles by clicking the "History" link in the top menu. There you can view each of your cycles in detail and compare them to each other. Click on the "Add an entry" button to start your next cycle. 
</div>
