<div id="pointers">
	<h1>You're on your way</h1>
Looks like you're getting the hang of it. See how your newest entry is stacked under your earlier entry in the vertical calendar? This is how you'll compare your different fertility signs and symptoms. <br /><br />
If it's still not clear, give it a few more entries. You'll see what we mean.


</div>
