<div id="pointers">
	<h1>Introduce yourself</h1>
We're building a great community of charting women and we want you to be a part of it. Take a minute to introduce yourself in the forums. Click on the "Forums" link way up there at the top. The forums are brand new and we'd like to hear what you think about them. 
<br />
<br />
If you have suggestions for changes or additions you'd like to see on ChartMyCycles, tell us about them in the forums under "Feature requests".
<br />
<br />
<h1>Today's tip</h1>
<b>How to check your mucus:</b> First, decide if you want to use internal or external mucus signs, then stick with that method consistently throughout your cycle. For internal mucus observation, a couple of times each day (mid-morning and late afternoon/evening) go to the restroom and with clean hands and smooth, short nails insert your middle finger gently into your vagina and swab some mucus from the cervix. Then, look at the mucus on your finger, rub it between two fingers and note the consistency/type. Record your observation (e.g. "slippery, egg white mucus") in the comments section of that day's entry. 
<br />
<br />
Note: Internal mucus observation is also the time to check your cervix. For external mucus observation, do the same thing, but swab the mucus from the opening of the vagina instead. Remember, tips are just reminders. They aren't meant to replace the instruction from a fertility charting instructor or fertility charting book. 
</div>
