<div id="pointers">
	<h1>Introduce yourself</h1>
We're building a great community of charting women and we want you to be a part of it. Take a minute to introduce yourself in the forums. Click on the "Forums" link way up there at the top. The forums are brand new and we'd like to hear what you think about them. If you have feature requests, let us know about those in the forums, too.
</div>
