<p>Welcome to ChartMyCycles and thanks for signing up!<br />
You're joining other women who are taking control of<br />
their fertility.
<br />
<br />
Use this email address and the password you created to log in.<br />
Your card will automatically be charged the same amount of $13 this time<br />
every month until you decide it's time to cancel. 
<br />
<br />
Keep this email for your records. If you need to ask<br /> 
questions about fertility charting, using your new app, or<br />
if the universe is just conspiring against you, contact us. We're<br />
easy to reach and we promise to respond.</p>
<br />
<br />
Pick a way to contact us that suits you:<br />
Billing: billing@chartmycycles.com<br />
Accounts: accounts@chartmycycles.com<br />
General: customerservice@chartmycycles.com<br />
Phone: 1-800-449-2875
<br />
<br />
<p>Sincerely,<br />
the ChartMyCycles team</p>
 
