<div id="contact_banner">
</div>
<div id="spacer" style="height: 170px">
</div>
<table align="center">
	<tr>
		<td>
			<%= link_to image_tag('pact.jpg'), "http://ccpact.com/", :popup => 'true' %>
			</td>
			</tr>
	</table>
		<div id="content_big_center">
	If you've got questions about interpreting your cycles, direct them to the forums.<br /><br />
	Otherwise, drop us a line.<br />
	Billing questions: <a href="mailto:billing@chartmycycles.com">billing@chartmycycles.com</a><br />
	Account questions: <a href="mailto:accounts@chartmycycles.com">accounts@chartmycycles.com</a><br />
	All other questions: <a href="mailto:customerservice@chartmycycles.com">customerservice@chartmycycles.com</a><br />
	
<br /><br />
	We can also be reached by phone: (800) 449-2875.
</div>
<br />
<br />