
<div style="margin-top: 40px">
</div>
<div id="content_big_center_wide">
	<h2>Privacy Policy</h2><br /><br />

<div id="login_box">
Chartmycycles.com is totally committed to respecting your privacy.<br /><br />

Chartmycycles.com will not sell or transmit to others any personally identifiable data entered on the Chartmycycles.com site. This personally identifiable data includes your name, e-mail address, identifying charting data or any piece of information which could be associated with your name or email address. Chartmycycles.com will cooperate fully with verified law enforcement authorities and government agencies whenever duly requested to do so.<br /><br />

Chartmycycles.com will not collect names or e-mail addresses without your consent. Chartmycycles.com will monitor your web site usage only for administration, abuse prevention and support purposes.
<br /><br />
Chartmycycles.com strives to keep your personally identifiable information accurate and enable you, if necessary, to update or correct it.
<br /><br />
Chartmycycles.com uses your personal information only to bring you the technical and charting support that you expect.
<br /><br />
Chartmycycles.com uses data collected in an aggregate manner (no identification left) to improve its conception tools and provide its users with the most accurate calculations. Occasionally Chartmycycles.com will publish aggregate statistical studies and non identifying data in the form of articles published on its site, scientific articles, conferences or books.
<br /><br />
Chartmycycles.com expects that you will keep your login information (and particularly your password) secret to help us ensure protection of your data.
</div>
</div>
