
<div style="margin-top: 40px">
</div>
<div id="content_big_center_wide">
<h2>ChartMyCycles Terms of Service</h2>
<br /><br />
<div id="login_box">
Welcome to Chartmycycles, a service for women who chart fertility and track ovulation. Chartmycycles is owned and operated by Dipperstove. Anyone using ChartMyCycles is responsible for abiding by these terms of service. The terms of service may be updated at any time. Users are responsible for reviewing terms of service. 
<br /><br />
This Agreement is your entire agreement with Dipperstove and governs your use of the Chartmycycles.com service. By using the Chartmycycles.com service, you indicate your acceptance of the following license agreement. If you do not agree to the terms of this agreement, promptly stop using Chartmycycles.com.
<br /><br />
You must be at least 18 years of age and above the age of legal majority in your country to use Chartmycycles.com.
<br /><br />
Any answer or information given by this service does not constitute medical practice or advice, nor is it intended to replace the necessity of consultation with a physician. Always consult your personal physician for definitive answers to your medical questions. You agree that Dipperstove will incur no legal or moral liabilities to you or anyone else for your use of this service. Chartmycycles.com cannot be used for scheduling or planning medical procedures, medication, or supplements usage. Always consult your health care provider before making such decisions.
<br /><br />
The information contained in the Chartmycycles.com web site is provided for informational and educational purposes only. This material is not intended as a substitute for consulting a physician or other health care professionals. Individual circumstances may vary and some information may not be applicable and/or may have become outdated as result of recent developments. Dipperstove and Chartmycycles.com accept no responsibility for reliance on the information set out in this web site. Reasonable effort has been made to ensure the accuracy of data and calculations. But, we accept no responsibility for reliance on this data or calculations.
<br /><br />
Chartmycycles.com calculates certain data pertaining to your monthly cycle. In order for these calculations to be reasonably correct, you understand that you must consistently post your cycle data. However, even if you accurately post your tracking data every month, you understand that any predictions Chartmycycles.com makes regarding your future cycles may not be correct, since your future cycles can vary for a variety of reasons. You understand and agree that you will not solely rely on any prediction, estimates, calculations provided by this website (or in emails it sends) for any reason whatsoever including preventing pregnancy or conception and that Dipperstove accepts no responsibility for reliance on said data. Your own prediction, analysis and judgement must be used to make your family planning decisions. You agree that we will incur no legal or moral liabilities to you or anyone else if you experience an unwanted outcome such as an unwanted pregnancy. We did not invent the method of fertility charting but are only providing a medium for you to track your own fertility cycles. It is your responsibility alone to make the ultimate analysis of your fertility cycle and make responsible decisions for your own personal life.
<br /><br />
Your account is personal and will not be shared. You must keep your account password secret. Information stored in your account is confidential. You may not sub-license, or charge others to use or access our service.
<br /><br />
Dipperstove and Chartmycycles.com accept no responsibility for the information or advice posted in any part of the Chartmycycles.com website, the Chartmycycles.com  the Chartmycycles.com's Home Pages or any other user generated document. Any abuse of the website will lead to the termination of your account at our sole discretion.
<br /><br />
Your access and use of Chartmycycles.com forums is a privilege not a right. You are required to abide by the terms and conditions of Chartmycycles.com as it presently exists, or as it may change form time to time. The Chartmycycles.com forums has been created to ensure that users of the forums can participate in a safe, comfortable and non-commercial environment. In particular, the posting of medical or self-medication advice, commercial activity and abusive language in the forums are prohibited. Your access to the Chartmycycles.com forums may be discontinued at the sole discretion of Chartmycycles.com at any time, and will be discontinued for any violation of the terms and conditions of the Chartmycycles.com terms of service. 
<br /><br />
<b>Applicable Laws</b>
<br /><br />
If any part of this Agreement is held invalid or unenforceable, that portion shall be construed in a manner consistent with applicable law to reflect, as nearly as possible, the original intentions of the parties, and the remaining portions shall remain in full force and effect.
<br /><br />
<b>Disclaimer</b>
<br /><br />
You agree to defend, indemnify and hold harmless Dipperstove, Chartmycycles.com and its directors, officers, agents and employees from all liabilities, claims and expenses, including legal fees, which arise from a breach of this Agreement for which you are responsible or by your use of Chartmycycles.com.
<br /><br />
To the maximum extent permitted by applicable law, Dipperstove, Chartmycycles.com and its directors, officers, agents and employees disclaim all warranties, either express or implied including but not limited to implied warranties of merchantability, fitness for a particular purpose and non infringement. Dipperstove, Chartmycycles.com and its directors, officers, agents and employees shall not be liable for any damages whatsoever, including direct, indirect, lost profits or information, business interruption, or other pecuniary loss, even if they or anyone of them have been advised of the possibility of such damage or loss.
<br /><br />
<b>Termination and Cancellation</b>
<br /><br />
Either you or Dipperstove may terminate or cancel your membership at any time, with or without cause. You understand and agree that the cancellation of your account is your sole right and remedy with respect to any dispute with Dipperstove or Chartmycycles.com. This includes, but is not limited to, any dispute related to, or arising out of (1) any term of this Agreement; (2) Dipperstove or Chartmycycles.com's enforcement or application of this Agreement; (3) the content available on Chartmycycles.com's web site; (4) your ability to access and/or use Chartmycycles including the revocation of your access to the forums or any other part of the site; or (5) the amount or type of fees, surcharges, applicable taxes, billing methods, or any change to the fees, applicable taxes, surcharges or billing methods.
<br /><br />
<b>Forums</b>
<br /><br />
Our forums are free for all registered users. You may read our forums without registering but in order to post or private message you must be registered. We would like our forums to be a safe place for people to post. We would like to avoid censorship, however, there are times when it will be necessary. Please read our guidelines for what is unacceptable. We reserve the right to remove any posts we believe are against our terms of service.
<br /><br />
<b>Forum Guidelines</b>
<br /><br />
You must be at least 18 years old to register for our forums
<br /><br />
Users of our boards must not
<br /><br />
Use any derogatory racial or religious comments, or any content that is illegal.
<br /><br />
Post links to pornographic material. We do not allow pictures or links to pictures with nudity. (Exclusions include pictures of birth stories or pictures for educational purposes, must have prior approval from a moderator before posting).
<br /><br />
Attack other members through posts on the board, email or private messages. We do not allow name calling, harassment or personal insults. You may express opposing view points but we want our members to feel safe from abuse. Please take the time to read your posts before you hit the post button and make sure that your posts are worded in a respectful nature. Posts that are not respectful, rude or insulting to other members will be removed.
<br /><br />
Use our forums for recruiting members to other forums. This includes posts, emails, or pms saying “email me” or “instant message me” in the context of recruiting members to another forum. Chartmycycles is an open community. Members are welcome to post on other sites but we do not allow members to use Chartmycycles to poach members for another forum site. User must not post links to competing forums. You may post links to helpful articles or informational sites.
<br /><br />
Pot stir or post disruptive posts on the forums. Chartmycycles is a supportive community. We do not allow members to post disruptive posts on the forums. Any posts that are made simply to “stir the pot” or be disruptive will be removed.
<br /><br />
Troll on our forums. We do not allow multiple accounts to be registered at Chartmycycles (without administrators permission). We do not allow impersonating another member’s identity, stealing photos from others, or fictitious posting.
<br /><br />
Post “mod/admin bashing” topics. Any topics insulting or antagonizing the moderation team at Chartmycycles will be deleted. If you disagree with a moderation decision, you may send a respectful private message or email to an administrator expressing your concerns. If you choose to send profanity, personal insults, or any other abusive messages to an administrator or moderator your account will be permanently banned from Chartmycycles. Chartmycycles is a friendly community and we will not tolerate abuse of our staff.
<br /><br />
Post any spam, solicitations for money, charitable causes, or other products including diapers, formula, coupons, etc.
<br /><br />
Post research or journalism surveys on our forums.
<br /><br />
Post copyrighted material. If you have no personally written or created what is posted then do not post it. You can post links to articles or information.
<br /><br />
Use private messages or email to send spam. Please forward any emails or private messages that contain spam to accounts@chartmycycles.com.
<br /><br />
When posting be aware that this is a public forum. If for some reason a member should choose to delete their account from Chartmycycles or their member account is banned from Chartmycycles, we will not be responsible for removing any pictures, posts, or other personal information from the forums.
<br /><br />
Post appropriate topics on our forums. 
<br /><br />
Although we do moderate our forums, we make no representations or warranties regarding the accuracy of any representations made and you agree that you will not hold us liable for any advice given or statements made via our message boards.
<br /><br />
Chartmycycles reserves the right to suspend members’ accounts who repeatedly violate our terms of service and to immediately discontinue, suspend, terminate or block users’ access to this site at any time.
<br /><br />
We reserve the right, in our sole discretion, to correct any errors or omissions in any portion of the Chartmycycles.com website.
<br /><br />
<b>Copyright</b>
<br /><br />
All materials on Chartmycycles.com is copyrighted and Dipperstove retains ownership of all rights, title and interest in all copyrights in all documents, text, images created or owned by Chartmycycles and displayed on this site. Do not reprint or reproduce any material for website or public use without permission from the owners of this site. You can reprint articles or pdf files made available by us on this site for personal use. You agree not to post or distribute on this site any information which infringes on a third party’s copyright or other proprietary rights.
<br /><br />
<b>Disclaimer</b>
<br /><br />
We are not doctors or health professionals. Any material on Chartmycycles.com is for information and entertainment purposes only. Material on our site should not take the place of a doctor or qualified professional.
<br /><br />
<b>Liability</b>
<br /><br />
You agree that your use of this website is at your sole risk. We do not warrant reliability of any statement or information displayed, distributed through or accessible from this website. As a convenience to you, we may provide links to websites operated by other entities, and you agree that we have no responsibility for information which is referenced or linked by this site. We are not responsible for any third party transactions via other websites users or advertisers or affiliates associated with Chartmycycles.com. If you have had an unsatisfactory transaction please resolve this directly with the third party. If you have had an unethical experience with one of our users, advertisers or affiliates please email us at accounts@chartmycycles.com and we will review the complaint and may remove them from our site in our sole discretion but we are not obligated to respond to your complaint. In the event that you have a dispute with one or more other users of this site or other persons or entities advertising on the site, you release Dipperstove, Inc. from any claims, damages and demands of any kind and nature, known and unknown, arising out of or in any way connected with such disputes. You agree to indemnify and hold Dipperstove, Inc. harmless against all claims and expenses, including reasonable attorney’s fees, arising out of or related to your use of the Chartmycycles.com site, violation of any law or regulation, violation of these terms and conditions, or violation of any proprietary or privacy right, or contracts formed with you through this site.
<br /><br />
<b>Privacy Statement</b>
<br /><br />
Chartmycycles is dedicated to protecting your privacy.  You can visit our site without giving any information about yourself.  We do, however, require registration to post messages on our forums or to email or send private messages to members on our forums.  
<br /><br />
<b>Information collected on Chartmycycles</b>
<br /><br />
When you register to use the forums at Chartmycycles we collect your email address and member name.  We will use this to contact you periodically to announce site updates or if there is a violation of our terms of service.  You will also have the option to fill out a profile.  You can provide information such as your location, birthdate, instant messenger information or personal information about yourself.  Chartmycycles also collects standard information for gathering statistics about your IP address, the browser you are using, the operating system on your computer, the site referring you to Chartmycycles and the time you visited. 
<br /><br />
<b>Use of cookies</b>
<br /><br />
Chartmycycles does use cookies.  A cookie is placed on your computer to store information about the user.  Usage of cookies does not collect personal information about the user.  It is used to store your log in information so that you do not have to log in with each visit. 
<br /><br />
<b>Use of your personal information</b>
<br /><br />
Although we strive to protect your personal privacy, there are events in which we may need to disclose your personal information. Chartmycycles may disclose your information if required to do so by law, if we have a good-faith belief that it is necessary to comply with a legal proceeding against Chartmycycles, or if it is necessary to protect copyrighted property of Chartmycycles. In the event that we are acquired by another company, your personal information may be part of the assets transferred to the acquiring party. If this occurs, you will be notified if there are any material changes to the way your personally identifiable information is collected or used.
<br /><br />
Thank you for reviewing our terms of service.  Please check back periodically to see if there are any changes.
<br /><br />
Sincerely,<br />
the Chartmycycles team<br /><br />
</div>
</div>
