
<div id="last_step_banner">
</div>
<div id="spacer" style="height: 170px">
</div>
<div id="login_box">
	<br />
<table align="center">
	<tr>
		<td>
<object width="630" height="380">
<param value="http://www.youtube.com/v/YOURVIDEOCODEHERE&ap=%2526fmt%3D22" name="movie" /><param value="window" name="wmode" />
<param value="true" name="allowFullScreen" /><embed width="630" height="380" wmode="window" allowfullscreen="true" type="application/x-shockwave-flash" src="http://www.youtube.com/v/K5S86H7h0eA&ap=%2526fmt%3D22"></embed></object>
</td>
</tr>
</table>
<br />
ChartMyCycles uses an innovative new structure for fertility charting. Fertility charts are easier to create and analyze than ever before. ChartMyCycles applies the same principles of traditional fertility charting, but in a clearer, more intuitive display.<br />
<div class="call_to_action" style="margin-top: 20px; text-align: right;">
	<%= link_to "See more benefits", :action => 'benefits' %> or 
	<%= link_to "Sign up now", :action => 'signup' %>
</div>
</div>