<div id="contentwrapper">
<div id="contentcolumn">
	<div id="mystats" class="little_gray_text">
		<%= render :partial => 'stats_partial'%>
</div>
<p></p>
</div>
</div>
<div id="leftcolumn">
	<%= render :partial => 'stats_left_column'%>
</div>