<!--[if IE]>
	<div id="logo">
	</div>

	<div id="domain">
		<%= link_to 'ChartMyCycles', :controller => 'home' %>
	</div>
</div>
</div>

<div id="pointers" style="margin-top: 0px;">
	<table align="center" width="500px">
		<tr>
			<td>
	<object width="480" height="295"><param name="movie" value="http://www.youtube.com/v/oSG-VVRwePc&hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/oSG-VVRwePc&hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="295"></embed></object>
	</td>
	</tr>
<tr>
	<td>
	<br />
	<h1>Party foul!</h1>
	 We notice that you're trying to use ChartMyCycles with Internet Explorer.<br />
	<br />

	It's time we had a talk. Internet Explorer is lame. We've made the decision to support <b><a href="http://www.firefox.com">Firefox</a>, <a href="http://www.apple.com/safari/download/">Safari</a>, and <a href="http://www.google.com/chrome/">Google Chrome</a></b> because they are not lame. Take a few minutes to pick and download one, then come back to us. Otherwise, you may confuse Internet Explorer's lameness with ChartMyCycles and we wouldn't want that.<br />
	<br />
	If you need convincing about switching browsers, take a look at <b><a href="http://www.lockergnome.com/news/2004/06/15/why-you-should-dump-internet-explorer/">this article.</a></b><br />
<br />

	Why not do yourself a favor? It's time to move past the year 2004. Get yourself a fancy new browser. <br />
	<br />

	Love,<br />
	The ChartMyCycles team<br />
	</td>
	</tr>
</table>

</div>


<![endif]-->